<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY_Accident</key>
	<string>952f3149f2bac24e515f8fb0b84bcc14ba2edc</string>
	<key>API_KEY_CCTV</key>
	<string>5178d00cd45340f58aedda032872a0e0</string>
	<key>API_KEY_TMAP</key>
	<string>XdvNDcFXsW9TcheSg1zN7YiDmu1bN6o9N3Mvxooj</string>
	<key>API_KEY_ServiceArea</key>
	<string>6970526905</string>
</dict>
</plist>
